.main {
  display: flex;
  justify-content: space-between;
  gap: 0.32rem;
  height: 100vh;
  flex-wrap: wrap;
  margin: 1rem;

  @media screen and (max-width: 1023px) {
     &{
      margin: 0.3rem;
      height: inherit;
      justify-content: start;
      flex-direction: column;
      flex-wrap: nowrap;
    } 
    
  }
}
